/* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendar-properties-grid {
	-moz-margin-start: 20px;
}

#calendar-properties-rows > row {
	min-height: 26px;
}

.delegateCalendarpermissiondiv
{
	-moz-appearance: none !important;
	color: Red;
}


listitem[selected] { // or listitem[selected=true]
	background-color: red;
	color: yellow;
}

listitem, treechildren::-moz-tree-row {
	min-height: 20px !important;
}

treechildren::-moz-tree-checkbox
{
	/* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
	list-style-image: none;
}

treechildren::-moz-tree-separator {
	margin-top: 1px;
	border-top: 1px solid ThreeDShadow;
	border-right: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDHighlight;
	border-left: 1px solid ThreeDShadow;
	height: 2px;
}

treechildren::-moz-tree-checkbox
{
	/* checked checkbox treecells. cbox-check.gif isn't available in
	Firefox 1, 2, and 3 in Mac OS X so you should specify a URL to an image
	in your extension or elsewhere. */
	-moz-box-align: right;
	border:.5px solid ;
	-moz-border-top-colors: #EEF0F3 #C7D0D9;
	-moz-border-right-colors: #63676B #A5ABB0;
	-moz-border-bottom-colors: #63676B #A5ABB0;
	-moz-border-left-colors: #EEF0F3 #C7D0D9;

	color: #000000;
}

treechildren::-moz-tree-checkbox(checked)
{
	/* checked checkbox treecells. cbox-check.gif isn't available in
	Firefox 1, 2, and 3 in Mac OS X so you should specify a URL to an image
	in your extension or elsewhere. */
	list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
treechildren::-moz-tree-checkbox(disabled)
{
	/* disabled checkbox treecells. cbox-check.gif isn't available in
	Firefox 1, 2, and 3 in Mac OS X, so you should specify a URL to an image
	in your extension or elsewhere. */
	list-style-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");
}