@import url(chrome://global/skin/);

exchWebService-statusImage {
	-moz-binding: url(chrome://exchangecalendar/content/exchWebService_bindings.xml#exchWebService-statusImage);
}

image.exchWebService-statusImage-0
{
	list-style-image: url("chrome://exchangecalendar-common/skin/images/asterisk-small-yellow.png");
	height:16px;
	width:16px;
}

image.exchWebService-statusImage-1
{
	list-style-image: url("chrome://exchangecalendar-common/skin/images/cross.png");
	height:16px;
	width:16px;
}

image.exchWebService-statusImage-2
{
	list-style-image: url("chrome://exchangecalendar-common/skin/images/tick.png");
	height:16px;
	width:16px;
}
