@import url(chrome://global/skin/);

#exchWebService-progress-hbox
{
	-moz-box-align: center;
}

#exchWebService-progress-image
{
	list-style-image: url("chrome://exchangecalendar-common/skin/images/arrow-circle.png");
	height:16px;
	width:16px;
}

label.serverline-bold
{
	font-weight:bold;
}

exchangeProgressGrid {
	-moz-binding: url("chrome://exchangecalendar/content/progress_panel.xml#exchangeProgressGrid");
	border-top-style: solid;
	border-top-color: lightgray;
}

exchangeProgressGrid > grid > rows > row > label {
	text-align: right;
}
