toolbarbutton.bold-button ,toolbarbutton.italic-button ,toolbarbutton.underline-button ,toolbarbutton.underline-button ,
toolbarbutton.indent-button , toolbarbutton.outdent-button,
toolbarbutton.orderedlist-button ,toolbarbutton.unorderedlist-button , toolbarbutton.decreaseFont-button ,
toolbarbutton.decreaseFont-button, toolbarbutton.increaseFont-button ,toolbarbutton.align-left-button ,
toolbarbutton.align-center-button, toolbarbutton.align-right-button,toolbarbutton.align-justify-button ,
toolbarbutton.addlink-button ,toolbarbutton.removelink-button , toolbarbutton.editlink-button 
{
	 -moz-appearance: none;
	 box-shadow: 1px 1px .5px #888888; 
	 background:yellow; 
	-moz-border-radius: 2px; 
	 margin: 1px 1px  1px 1px ;
	 background:-moz-radial-gradient(center, ellipse cover, #f1da36 13%, #fefcea 100%);
 }

toolbarbutton.bold-button:hover ,toolbarbutton.italic-button:hover ,toolbarbutton.underline-button:hover ,toolbarbutton.underline-button:hover ,
toolbarbutton.indent-button:hover , toolbarbutton.outdent-button:hover,
toolbarbutton.orderedlist-button:hover ,toolbarbutton.unorderedlist-button:hover , toolbarbutton.decreaseFont-button:hover ,
toolbarbutton.decreaseFont-button:hover, toolbarbutton.increaseFont-button:hover ,toolbarbutton.align-left-button:hover ,
toolbarbutton.align-center-button:hover, toolbarbutton.align-right-button:hover,toolbarbutton.align-justify-button:hover ,
toolbarbutton.addlink-button:hover ,toolbarbutton.removelink-button:hover , toolbarbutton.editlink-button:hover
{   
     -GtkMenu-horizontal-padding: 1 px; -GtkMenu-vertical-padding: 1 px; -GtkMenuBar-internal-padding: 0; -GtkMenuItem-arrow-scaling: 0.6;
   -moz-border-radius: 100% ;  
     margin-right: 1px; 
        border-style: outset;
        border-color: shade (mix (rgb (34, 255, 120), #fff, 0.5), 0.9);
}

toolbarbutton.bold-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-bold.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.italic-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-italic.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.underline-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-underline.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.indent-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-indent.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.outdent-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-outdent.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.orderedlist-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-list-order.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.unorderedlist-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-list.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.decreaseFont-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-size-down.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.increaseFont-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-size-up.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-left-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-center-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment-center.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-right-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment-right.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-justify-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment-justify.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.addlink-button { 
  list-style-image: url("chrome://exchangecalendar/skin/chain--plus.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.removelink-button { 
  list-style-image: url("chrome://exchangecalendar/skin/chain--minus.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.editlink-button { 
  list-style-image: url("chrome://exchangecalendar/skin/chain--pencil.png");
  height: 32px;
  width: 32px;
}

editor.exchWebService-editor {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-color: silver;
  border-top-color: silver;
  border-bottom-color: gray;
  border-right-color: gray;
}


