toolbarbutton.bold-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-bold.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.italic-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-italic.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.underline-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-underline.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.indent-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-indent.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.outdent-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-outdent.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.orderedlist-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-list-order.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.unorderedlist-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-list.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.decreaseFont-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-size-down.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.increaseFont-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-size-up.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-left-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-center-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment-center.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-right-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment-right.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.align-justify-button { 
  list-style-image: url("chrome://exchangecalendar/skin/edit-alignment-justify.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.addlink-button { 
  list-style-image: url("chrome://exchangecalendar/skin/chain--plus.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.removelink-button { 
  list-style-image: url("chrome://exchangecalendar/skin/chain--minus.png");
  height: 32px;
  width: 32px;
}

toolbarbutton.editlink-button { 
  list-style-image: url("chrome://exchangecalendar/skin/chain--pencil.png");
  height: 32px;
  width: 32px;
}

editor.exchWebService-editor {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-color: silver;
  border-top-color: silver;
  border-bottom-color: gray;
  border-right-color: gray;
}


