/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


/* ::::: thread labels decoration ::::: */

/* There are 10x7 color definitions (size of the color picker used)
   times 2 (2 style definitions for each color) +  2 general black
   and white color definitions.
   The color definitions can be in the following formats:
     color: red;
     color: #FF0000;
     color: rgb(128, 0, 0); 
*/

 
treechildren::-moz-tree-row(lc-FFFFFF), .blc-FFFFFF {
  background-color: #FFFFFF !important;
}
.blc-FFFFFF {
  border-color: #FFFFFF;
}

 
treechildren::-moz-tree-row(lc-CCCCCC), .blc-CCCCCC {
  background-color: #CCCCCC !important;
  
}
.blc-CCCCCC {
  border-color: #CCCCCC;
}

 
treechildren::-moz-tree-row(lc-C0C0C0), .blc-C0C0C0 {
  background-color: #C0C0C0 !important;
}
.blc-C0C0C0 {
  border-color: #C0C0C0;
}
 
treechildren::-moz-tree-row(lc-999999), .blc-999999 {
  background-color: #999999 !important;
}
.blc-999999 {
  border-color: #999999;
}

 
treechildren::-moz-tree-row(lc-666666), .blc-666666 {
  background-color: #666666 !important;
}
.blc-666666 {
  border-color: #666666;
}

 
treechildren::-moz-tree-row(lc-333333), .blc-333333 {
  background-color: #333333 !important;
}
.blc-333333 {
  border-color: #333333;
}

 
treechildren::-moz-tree-row(lc-000000), .blc-000000 {
  /* our assumed color is #111111 and !important is needed to override it */
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 rgba(46,52,54,0.4) !important; /* Tango Alumninum 6 */
  background-color: #000000 !important;
}
.blc-000000 {
  border-color: #000000;
}

 
treechildren::-moz-tree-row(lc-FFCCCC), .blc-FFCCCC {
  background-color: #FFCCCC !important;
}
.blc-FFCCCC {
  border-color: #FFCCCC;
}

 
treechildren::-moz-tree-row(lc-FF6666), .blc-FF6666 {
  background-color: #FF6666 !important;
}
.blc-FF6666 {
  border-color: #FF6666;
}
 
treechildren::-moz-tree-row(lc-FF0000), .blc-FF0000 {
	
  background-color: #FF0000 !important;
}
.blc-FF0000 {
  border-color: #FF0000;
}

 
treechildren::-moz-tree-row(lc-CC0000), .blc-CC0000 {
  background-color: #CC0000 !important;
}
.blc-CC0000 {
  border-color: #CC0000;
}

 
treechildren::-moz-tree-row(lc-990000), .blc-990000 {
  background-color: #990000 !important;
}
.blc-990000 {
  border-color: #990000;
}

 
treechildren::-moz-tree-row(lc-660000), .blc-660000 {
  background-color: #660000 !important;
}
.blc-660000 {
  border-color: #660000;
}

 
treechildren::-moz-tree-row(lc-330000), .blc-330000 {
  background-color: #330000 !important;
}
.blc-330000 {
  border-color: #330000;
}

 
treechildren::-moz-tree-row(lc-FFCC99), .blc-FFCC99 {
  background-color: #FFCC99 !important;
}
.blc-FFCC99 {
  border-color: #FFCC99;
}
 
treechildren::-moz-tree-row(lc-FF9966), .blc-FF9966 {
  background-color: #FF9966 !important;
}
.blc-FF9966 {
  border-color: #FF9966;
}

 
treechildren::-moz-tree-row(lc-FF9900), .blc-FF9900 {
  background-color: #FF9900 !important;
}
.blc-FF9900 {
  border-color: #FF9900;
}

 
treechildren::-moz-tree-row(lc-FF6600), .blc-FF6600 {
  background-color: #FF6600 !important;
}
.blc-FF6600 {
  border-color: #FF6600;
}

 
treechildren::-moz-tree-row(lc-CC6600 ), .blc-CC6600 {
  background-color: #CC6600 !important;
}
.blc-CC6600 {
  border-color: #CC6600;
}

 
treechildren::-moz-tree-row(lc-993300), .blc-993300 {
  background-color: #993300 !important;
}
.blc-993300 {
  border-color: #993300;
}

 
treechildren::-moz-tree-row(lc-663300), .blc-663300 {
  background-color: #663300 !important;
}
.blc-663300 {
  border-color: #663300;
}
 
treechildren::-moz-tree-row(lc-FFFF99), .blc-FFFF99 {
  background-color: #FFFF99 !important;
}
.blc-FFFF99 {
  border-color: #FFFF99;
}

 
treechildren::-moz-tree-row(lc-FFFF66), .blc-FFFF66 {
  background-color: #FFFF66 !important;
}
.blc-FFFF66 {
  border-color: #FFFF66;
}

 
treechildren::-moz-tree-row(lc-FFCC66), .blc-FFCC66 {
  background-color: #FFCC66 !important;
}
.blc-FFCC66 {
  border-color: #FFCC66;
}
 
treechildren::-moz-tree-row(lc-FFCC33), .blc-FFCC33 {
  background-color: #FFCC33 !important;
}
.blc-FFCC33 {
  border-color: #FFCC33;
}
 
treechildren::-moz-tree-row(lc-CC9933), .blc-CC9933 {
  background-color: #CC9933 !important;
}
.blc-CC9933 {
  border-color: #CC9933;
}

 
treechildren::-moz-tree-row(lc-996633), .blc-996633 {
  background-color: #996633 !important;
}
.blc-996633 {
  border-color: #996633;
}

 
treechildren::-moz-tree-row(lc-663333), .blc-663333 {
  background-color: #663333 !important;
}
.blc-663333 {
  border-color: #663333;
}
 
treechildren::-moz-tree-row(lc-FFFFCC), .blc-FFFFCC {
  background-color: #FFFFCC !important;
}
.blc-FFFFCC {
  border-color: #FFFFCC;
}

 
treechildren::-moz-tree-row(lc-FFFF33), .blc-FFFF33 {
  background-color: #FFFF33 !important;
}
.blc-FFFF33 {
  border-color: #FFFF33;
}

 
treechildren::-moz-tree-row(lc-FFFF00), .blc-FFFF00 {
  background-color: #FFFF00 !important;
}
.blc-FFFF00 {
  border-color: #FFFF00;
}

 
treechildren::-moz-tree-row(lc-FFCC00), .blc-FFCC00 {
  background-color: #FFCC00 !important;
}
.blc-FFCC00 {
  border-color: #FFCC00;
}

 
treechildren::-moz-tree-row(lc-999900), .blc-999900 {
  background-color: #999900 !important;
}
.blc-999900 {
  border-color: #999900;
}
 
treechildren::-moz-tree-row(lc-666600), .blc-666600 {
  background-color: #666600 !important;
}
.blc-666600 {
  border-color: #666600;
}
 
treechildren::-moz-tree-row(lc-333300), .blc-333300 {
  background-color: #333300 !important;
}
.blc-333300 {
  border-color: #333300;
}

 
treechildren::-moz-tree-row(lc-99FF99), .blc-99FF99 {
  background-color: #99FF99 !important;
}
.blc-99FF99 {
  border-color: #99FF99;
}

 
treechildren::-moz-tree-row(lc-66FF99), .blc-66FF99 {
  background-color: #66FF99 !important;
}
.blc-66FF99 {
  border-color: #66FF99;
}

 
treechildren::-moz-tree-row(lc-33FF33), .blc-33FF33 {
  background-color: #33FF33 !important;
}
.blc-33FF33 {
  border-color: #33FF33;
}

 
treechildren::-moz-tree-row(lc-33CC00), .blc-33CC00 {
  background-color: #33CC00 !important;
}
.blc-33CC00 {
  border-color: #33CC00;
}

 
treechildren::-moz-tree-row(lc-009900), .blc-009900 {
  background-color: #009900 !important;
}
.blc-009900 {
  border-color: #009900;
}

 
treechildren::-moz-tree-row(lc-006600), .blc-006600 {
  background-color: #006600 !important;
}
.blc-006600 {
  border-color: #006600;
}

 
treechildren::-moz-tree-row(lc-003300), .blc-003300 {
  background-color: #003300 !important;
}
.blc-003300 {
  border-color: #003300;
}

 
treechildren::-moz-tree-row(lc-99FFFF), .blc-99FFFF {
  background-color: #99FFFF !important;
}
.blc-99FFFF {
  border-color: #99FFFF;
}

 
treechildren::-moz-tree-row(lc-33FFFF), .blc-33FFFF {
  background-color: #33FFFF !important;
}
.blc-33FFFF {
  border-color: #33FFFF;
}

 
treechildren::-moz-tree-row(lc-66CCCC), .blc-66CCCC {
  background-color: #66CCCC !important;
}
.blc-66CCCC {
  border-color: #66CCCC;
}

 
treechildren::-moz-tree-row(lc-00CCCC), .blc-00CCCC {
  background-color: #00CCCC !important;
}
.blc-00CCCC {
  border-color: #00CCCC;
}

 
treechildren::-moz-tree-row(lc-339999), .blc-339999 {
  background-color: #339999 !important;
}
.blc-339999 {
  border-color: #339999;
}

 
treechildren::-moz-tree-row(lc-336666), .blc-336666 {
  background-color: #336666 !important;
}
.blc-336666 {
  border-color: #336666;
}

 
treechildren::-moz-tree-row(lc-003333), .blc-003333 {
  background-color: #003333 !important;
}
.blc-003333 {
  border-color: #003333;
}

 
treechildren::-moz-tree-row(lc-CCFFFF), .blc-CCFFFF {
  background-color: #CCFFFF !important;
}
.blc-CCFFFF {
  border-color: #CCFFFF;
}

 
treechildren::-moz-tree-row(lc-66FFFF), .blc-66FFFF {
  background-color: #66FFFF !important;
}
.blc-66FFFF {
  border-color: #66FFFF;
}

 
treechildren::-moz-tree-row(lc-33CCFF), .blc-33CCFF {
  background-color: #33CCFF !important;
}
.blc-33CCFF {
  border-color: #33CCFF;
}

 
treechildren::-moz-tree-row(lc-3366FF), .blc-3366FF {
  background-color: #3366FF !important;
}
.blc-3366FF {
  border-color: #3366FF;
}

 
treechildren::-moz-tree-row(lc-3333FF), .blc-3333FF {
  background-color: #3333FF !important;
}
.blc-3333FF {
  border-color: #3333FF;
}

 
treechildren::-moz-tree-row(lc-000099), .blc-000099 {
  background-color: #000099 !important;
}
.blc-000099 {
  border-color: #000099;
}

 
treechildren::-moz-tree-row(lc-000066), .blc-000066 {
  background-color: #000066 !important;
}
.blc-000066 {
  border-color: #000066;
}

 
treechildren::-moz-tree-row(lc-CCCCFF), .blc-CCCCFF {
  background-color: #CCCCFF !important;
}
.blc-CCCCFF {
  border-color: #CCCCFF;
}

 
treechildren::-moz-tree-row(lc-9999FF), .blc-9999FF {
  background-color: #9999FF !important;
}
.blc-9999FF {
  border-color: #9999FF;
}

 
treechildren::-moz-tree-row(lc-6666CC), .blc-6666CC {
  background-color: #6666CC !important;
}
.blc-6666CC {
  border-color: #6666CC;
}

 
treechildren::-moz-tree-row(lc-6633FF), .blc-6633FF {
  background-color: #6633FF !important;
}
.blc-6633FF {
  border-color: #6633FF;
}

 
treechildren::-moz-tree-row(lc-6600CC), .blc-6600CC {
  background-color: #6600CC !important;
}
.blc-6600CC {
  border-color: #6600CC;
}

 
treechildren::-moz-tree-row(lc-333399), .blc-333399 {
  background-color: #333399 !important;
}
.blc-333399 {
  border-color: #333399;
}

  
treechildren::-moz-tree-row(lc-330099), .blc-330099 {
  background-color: #330099 !important;
}
.blc-330099 {
  border-color: #330099;
}

  
treechildren::-moz-tree-row(lc-FFCCFF), .blc-FFCCFF {
  background-color: #FFCCFF !important;
}
.blc-FFCCFF {
  border-color: #FFCCFF;
}
 
treechildren::-moz-tree-row(lc-FF99FF), .blc-FF99FF {
  background-color: #FF99FF !important;
}
.blc-FF99FF {
  border-color: #FF99FF;
}

 
treechildren::-moz-tree-row(lc-CC66CC), .blc-CC66CC {
  background-color: #CC66CC !important;
}
.blc-CC66CC {
  border-color: #CC66CC;
}

 
treechildren::-moz-tree-row(lc-CC33CC), .blc-CC33CC {
  background-color: #CC33CC !important;
}
.blc-CC33CC {
  border-color: #CC33CC;
}

 
treechildren::-moz-tree-row(lc-993399), .blc-993399 {
  background-color: #993399 !important;
}
.blc-993399 {
  border-color: #993399;
}
treechildren::-moz-tree-row(n){
  text-shadow: white 0 -2px;}
}
treechildren::-moz-tree-row(lc-663366), .blc-663366 {
  background-color: #663366 !important;
}
.blc-663366 {
  border-color: #663366;
}

 
treechildren::-moz-tree-row(lc-330033), .blc-330033 {
  background-color: #330033 !important;
}
.blc-330033 {
  border-color: #330033;
}

treechildren::-moz-tree-cell-text(lc-white) {
  color: #FFFFFF;
}
treechildren::-moz-tree-cell-text(lc-black), .blc-black {
  color: #000000;
}
